<div id="shortcuts">
    <span>?</span>
    <pre>
        Shortcuts for codeblocks 
        (affects hovered element or all with SHIFT)

        [L] - toggle line numbers
        [W] - wrap long lines
        [F] - fit codeblock to window size
        [R] - reset properties
    </pre>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/assets/js/codeblocks-enhancements.js"></script>
