<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="Tooster" name="author">
  {% seo %}

  {%- comment -%}
  <meta name="description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {%- endcomment -%}

  <link rel="shortcut icon" href="/assets/images/favicon-variant-6.png" type="image/x-icon">

  <!-- google analytics -->
  <meta name="google-site-verification" content="pbXWbgM1YlXAu410W85BQuuPLd-Hwtw3oEcWnJ7aGYY" />

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap">

  <!-- for mathjax support -->

  {% if include.latex %}
  <script src="/assets/js/mathjax-config.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}

  <!-- for highlight.js -->

  <link crossorigin="anonymous"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/darcula.min.css"
    integrity="sha512-GfRggx2Wc+POEPR0asMTNTyNug3rWJ9Jp4wxnHZ5VApMOUJRK4cEaRriXsx5tV1DakKHQWQ2noCbuzFiPJaYqA=="
    referrerpolicy="no-referrer" rel="stylesheet" defer />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script src="/assets/js/hljs-linenumbers.js"></script>

  <!-- style -->
  <link href="/assets/css/main.css" rel="stylesheet">
</head>