<header>

  <a href="/">
    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com" title="Tooster's site">
      <rect id="leftEye" x="2" y="8.506" width="2" height="1.5" style="stroke: rgb(0, 0, 0); fill-rule: nonzero; stroke-width: 0px;"></rect>
      <rect id="rightEye" x="12" y="8.506" width="2" height="1.494" style="stroke-width: 0px;"></rect>
      <line id="mouth" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="5" y1="10.5" x2="11" y2="10.5"></line>
    </svg>

    {%- comment -%}
    <!-- From https://css-tricks.com/snippets/svg/svg-knockout-text/ -->
    <!-- To check out: https://stackoverflow.com/questions/13932946/transparent-text-cut-out-of-background -->
    {%- endcomment -%}
  </a>
</header>
