<div class="post-card">

  <div class="meta">

    {%- assign visibleDate = include.post.lastmod or include.post.date -%}

    <time class="lastmod" datetime={{ visibleDate | date: '%s' }}>
      {{ visibleDate | date_to_string }}
    </time>
    {%- if include.post.date != include.post.lastmod -%}
    <time class="created" datetime={{ include.post.date | date: '%s' }}>
      First posted at {{ include.post.date | date_to_string }}
    </time>
    {%- endif -%}

    {%- for tag in include.post.tags -%}
    <span class="tag">
      <a class="href" href="{{ BASE_PATH }}/search?tag={{tag}}">{{tag}}</a>
    </span>
    {%- endfor -%}

  </div>

  <article>
    <h1 class="title">
      <a href="{{ BASE_PATH }}{{ include.post.url }}">{{ include.post.title }}</a>
    </h1>

    {%- if include.truncate -%}

    {% if include.post.description %}
    {{- include.post.description -}}
    {% else %}
    <div class="preview">
      {{ include.post.content | truncatewords: 250 | markdownify }}
    </div>
    {% endif %}

    <a class="read-more" href="{{ include.post.url }}">Read more...</a>

    {%- else -%}
    {{ include.post.content | markdownify }}
    {%- endif -%}
  </article>
</div>