@mixin palette {
    --th-P-surface: #121212;
    --th-P-normal: #212121;
    --th-P-light: #484848;
    --th-P-dark: #000000;

    --th-dots: #fff2;

    --th-S-normal: #ffc400;
    --th-S-light: #fff64f;
    --th-S-dark: #c79400;

    --th-text-on-P: #ffffff;
    --th-text-on-S: #000000;

    --th-error: #CF6679;
}

@mixin breathe {
    --th-breather-size-in: 7vh;
    --th-breather-size-out: 5vh;
}

// Elevations from M3
@mixin elevation-0 { opacity: 0%;  box-shadow: 0 0 0dp #000;   }
@mixin elevation-1 { opacity: 5%;  box-shadow: 0 0 1dp #000;   }
@mixin elevation-2 { opacity: 8%;  box-shadow: 0 0 3dp #000;   }
@mixin elevation-3 { opacity: 11%;  box-shadow: 0 0 6dp #000;  }
@mixin elevation-4 { opacity: 12%;  box-shadow: 0 0 8dp #000;  }
@mixin elevation-5 { opacity: 14%;  box-shadow: 0 0 12dp #000; }
