@import "dark";

:root {
    @include palette;
}

* {
    box-sizing: border-box;
}

@property --dot-color {
    syntax: '<color>';
    inherits: false;
    initial-value: calc(var(--th-breather-out));
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    min-width: min-content;
    max-width: 100%;

    display: grid;
    grid-template: 
        "left center right" /
        auto min(600px, 100vw) auto;

    background-color: var(--th-P-surface);

    scroll-snap-type: x mandatory;

    >* {
        scroll-snap-align: center;
    }
}

header {
    grid-area: center;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;

    a {
        width: 100%;
        display: block;

        img {
            width: 100%;
        }
    }
}

#toolbar {
    grid-area: center;
}

.breathe {
    background-image: radial-gradient(white 30%, transparent 30%);
    background-position: center;
    background-size: 10vh 10vh;
    background-blend-mode: multiply;

    font-family: 'Helvetica', 'Arial', sans-serif;

    @keyframes breathe-dots {

        0% {
            background-size: var(--th-breather-size-in) var(--th-breather-size-in);
            --dot-color: rgb(255, 67, 67);
        }

        25% {
            background-size: var(--th-breather-size-in) var(--th-breather-size-in);
            --dot-color: rgb(77, 77, 255);
        }

        50% {
            background-size: var(--th-breather-size-out) var(--th-breather-size-out);
            --dot-color: rgb(77, 77, 255);
        }

        75% {
            background-size: var(--th-breather-size-out) var(--th-breather-size-out);
            --dot-color: rgb(255, 67, 67);
        }

        100% {
            background-size: var(--th-breather-size-in) var(--th-breather-size-in);
            --dot-color: rgb(255, 67, 67);
        }
    }

    animation: breathe-dots 16s ease-in-out infinite;
}

.vertical-snap-scroll {
    display: flex;
    flex-direction: row;
    margin: auto;

    div {

    }
}


main {
    grid-area: center;
    // margin: auto;
    padding: 30px;
    // width: 600px;
    min-height: min-content;
    background-color: var(--th-P-light);
    -webkit-box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1);
    box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1)
}

@media screen and (max-width: 700px) {
    main {
        width: 100%;
        max-width: 600px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font: 2em 'Roboto Slab', serif
}

h1 {
    text-transform: capitalize;
}

p {
    color: var(--theme-grey-2)
}

ul li {
    margin-bottom: 15px;
}

a.boxlink {
    opacity: .75;
    padding: 5px 20px;
    width: 100%;
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: var(--theme-accent);
    background: var(--theme-grey-3);
    -webkit-box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1);
    box-shadow: 0 0 37px -7px rgba(0, 0, 0, 1)
}

a.boxlink:hover {
    opacity: 1;
    cursor: pointer;
}

a.red {
    opacity: .75;
    padding: 5px 20px;
    width: 100%;
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: var(--theme-accent);
}

a.red:hover {
    opacity: 1;
    cursor: pointer;
}

article {
    margin: 0 30%;
    padding: 0 30px;
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.mono {
    font: 1em 'Roboto Mono', monospace;
    color: var(--theme-grey-2)
}

.para {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.062em;
    text-transform: uppercase;
    color: rgb(150, 150, 150);
}


/* TODO: https://codepen.io/dev_loop/pen/MWKbJmO */