@import "skin-dark";
@import "fonts";

:root {
    @include palette;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem 0 0;

    width: 100vw;
    min-width: min-content; // ? should it be here
    max-width: 100%;
    min-height: 100vh;
    height: min-content;

    display: grid;
    row-gap: 2em;
    grid-template:
        ". header ."
        ". toolbox ."
        ". main ."
        ". footer ." 150px
        / 1fr MIN(700px, calc(100vw - 16px)) 1fr;

    position: relative;
    scroll-behavior: smooth;

    color: var(--th-on-surface);
    @include text-regular-poppins;

    background:
        radial-gradient(var(--th-on-background) .5px, transparent 1px),
        var(--th-background);
    background-position: top;
    background-size: 17px 17px;
}

h1, h2, h3, h4, h5, h6 {
    @include text-header-roboto
}

h1 {
    font-size: 28pt;
}

a {
    text-decoration: none;
    color: var(--th-P-normal);
    
    &:hover {
        color: var(--th-P-light);
        transition: all 0.1s;
    }
}

img {
    max-width: 100%;
}

header {
    grid-area: header;

    a {
        display: block;
        padding: 1rem;

        @include text-header-roboto;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;

        // cutout
        background-color: white;
        color: black;
        mix-blend-mode: screen;
        border-radius: 50vmin;

        &:hover {
            color: black;
            transition: none;
        }
    }
}

nav {
    grid-area: nav;
    position: sticky;
    top: 0;

    ul {

        display: flex;
        flex-direction: row;
        align-items: stretch;
        
        width: 100%;
        
        padding: 0;
        margin: 0;
        
        list-style: none;

        li {
            // display: inline-block;

            a {
                display: block;
                padding: 1em 1em;
                transition: all .2s ease-out;

                &:hover {
                    opacity: 100%;
                    color: var(--th-background);
                    background-color: var((--th-on-surface));
                }
            }
        }
    }
}

#toolbox {
    grid-area: toolbox;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.post-card {
    
    article {
        padding: 1em;
        backdrop-filter: blur(2px);
        box-shadow: /* 0 0 1px var(--th-P-normal),  */0 0 10px black; //TODO ELEVATE
        border-radius: 2px;
        outline: 1px solid var(--th-P-border-semitrans);
    }

    .meta {
        text-align: right;
        margin: 0 0 .5em 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        
        .tag {
            margin: 0 .2em;
            border: 1px solid var(--th-P-dark);
            border-radius: 2px;
            padding: 1px 6px;
        }

        time { margin-left: 2em; }
    }

    .title {
        margin-top: 0;
    }

    .preview {
        -webkit-mask-image: linear-gradient(white 50%, transparent 100%);
        mask-image: linear-gradient(white 50%, transparent 100%);
        max-height: 300px;
        overflow: hidden;

        & :first-child {
            margin-top: 0;
        }
    }

    .read-more {
        margin-top: 1em;
        display: block;
    }
}

// markdown standard

blockquote {
    border-left: 6px solid var(--th-on-background-half);
    margin: auto 0;
    padding-left: 1em;
    background-color: var(--th-on-background-quarter);
    
    &[by]{
        display: flow-root;
        margin: 1em 0;
        &:after {
            content: '— ' attr(by);
            display: block;
            padding-right: 1em;
            opacity: 50%;
            text-align: right;
            font-style: italic;
        }
    }
}

.footnote, .reversefootnote {
    @include text-code-intellij;
    &:before {content: "[";}
    &:after {content: "]";}
}

.footnotes {
    color: var(--th-on-surface-dim);
    font-size: 12pt;
}

@import "code";


// widgets

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    
    background-color: var(--th-scrollbar-bg);
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--th-scrollbar-fg);
    border-radius: 3px;
    
    &:hover {
        background-color: var(--th-scrollbar-fg-active)
    }
}