@import "skin-dark";
@import "fonts";

:root {
    @include palette;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 1rem 0 0;

    width: 100vw;
    min-width: min-content; // ? should it be here
    max-width: 100%;
    min-height: 100vh;
    height: min-content;
    overflow-y: overlay;

    display: grid;
    row-gap: 2em;
    grid-template:
        ". header ."
        ". toolbox ."
        ". main ." 1fr
        ". footer ."
        / 1fr MIN(700px, calc(100vw - 16px)) 1fr;

    position: relative;
    scroll-behavior: smooth;

    color: var(--th-on-surface);
    @include text-regular-poppins;

    background:
        radial-gradient(var(--th-on-background) .5px, transparent 1px),
        var(--th-background);
    background-position: top;
    background-size: 17px 17px;
}

h1, h2, h3, h4, h5, h6 {
    @include text-header-roboto
}

h1 {
    font-size: 28pt;
}

a {
    text-decoration: none;
    color: var(--th-P-normal);
    
    &:hover, &:active {
        color: var(--th-P-light);
        transition: all 0.1s;   
    }
}

img {
    max-width: 100%;
}

header {
    grid-area: header;

    a {
        display: block;
        padding: 1rem;

        @include text-header-roboto;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;

        // cutout
        background-color: white;
        color: black;
        mix-blend-mode: screen;
        border-radius: 50vmin;

        svg {
            height: 1.5em;
            width: 100%;
            display: block;
            #mouth {
                animation-duration: .3s;
                animation-iteration-count: 1;
            }
        }

        &:hover {
            color: black;
            transition: none;
            svg #mouth {
                animation-name: mouth-bounce;
                animation-timing-function: ease;
            }
        }
    }
}

@keyframes mouth-bounce {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-1px);}
    100% { transform: translateY(0px); }
}

nav {
    grid-area: nav;
    position: sticky;
    top: 0;

    ul {

        display: flex;
        flex-direction: row;
        align-items: stretch;
        
        width: 100%;
        
        padding: 0;
        margin: 0;
        
        list-style: none;

        li {
            // display: inline-block;

            a {
                display: block;
                padding: 1em 1em;
                transition: all .2s ease-out;

                &:hover {
                    opacity: 100%;
                    color: var(--th-background);
                    background-color: var((--th-on-surface));
                }
            }
        }
    }
}

#toolbox {
    grid-area: toolbox;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

footer {
    grid-area: footer;

    .giscus {
        margin-top: 4em;
        padding: 1em;
        @include elevate-1;
        outline-color: var(--th-S-dark);
    }

    #copyright {
        font-size: small;
        text-align: center;
        color: var(--th-on-background-half);
        margin-top: 10rem;
        display: block;
        background-color: var(--th-background);
    }
}


.post-card {
    
    article {
        padding: 1em;
        @include elevate-1;
    }

    .meta {
        margin: 0 0 .5em 0;
        position: relative;
        
        display: flex;
        align-items: baseline;
        justify-content: end;
        
        text-align: right;
        
        @include text-header-roboto;
        font-size: 0.83em;
        font-weight: bold;
        min-height: 1.8em;

        .tags {
            display: flex;
            flex-direction: row;
            .tag {
                margin: 0 .2em;
                border: 1px solid var(--th-P-dark);
                border-radius: 2px;
                padding: 1px 6px;
                min-width: 2em;
                text-align: center;
            }
        }
        
        time { 
            padding-left: 2em; 
            &.lastmod {
                text-decoration: underline dotted;
            }
            &.created {
                position: absolute;
                right: 0;
                top: -100%;
                // bottom: 0;
                // transform: rotate(90deg) translateX(100%);
                // transform-origin: bottom right;
            }
            &.lastmod:hover ~ .created, &.lastmod ~ .created:hover { 
                opacity: 1;
                visibility: visible;
            }
            &.lastmod ~ .created{ 
                opacity: 0;
                visibility: hidden;
                transition: all .5s 0.1s;
            }
        }
    }

    .title {
        margin-top: 0;
    }

    .preview {
        max-height: 300px;
        min-height: fit-content;
        display: block;
        overflow: hidden;
        position: relative;

        -webkit-mask-image: linear-gradient(white 200px 220px, transparent 300px);
        mask-image: linear-gradient(white 250px 220px, transparent 300px);
        

        & :first-child {
            margin-top: 0;
        }
        
    }

    .read-more {
        margin-top: 1em;
        padding: .5em;
        display: block;
    }
}

// markdown standard

li {
    margin-block: 0.3em;
}

blockquote {
    border-left: 6px solid var(--th-on-background-half);
    margin: auto 0;
    padding-left: 1em;
    background-color: var(--th-on-background-quarter);
    
    &[by]{
        display: flow-root;
        margin: 1em 0;
        &:after {
            content: '— ' attr(by);
            display: block;
            padding-right: 1em;
            opacity: 50%;
            text-align: right;
            font-style: italic;
        }
    }
}

.footnote, .reversefootnote {
    @include text-code-intellij;
    &:before {content: "[";}
    &:after {content: "]";}
}

.footnotes {
    color: var(--th-on-surface-dim);
    font-size: 12pt;
}

@import "code";

details {
    summary {
        color: var(--th-S-normal);
    }
    &[open] summary {
        margin-bottom: 1rem;
    }

    padding: .5rem;
    border: 1px solid var(--th-S-dark);
}

// widgets

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    
    background-color: var(--th-scrollbar-bg);
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--th-scrollbar-fg);
    border-radius: 3px;
    
    &:hover {
        background-color: var(--th-scrollbar-fg-active)
    }
}

#shortcuts {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2rem;

    position: fixed;
    bottom: .5em;
    right: .7em;

    @include elevate-1;
    background-color: #0008;

    .help {
        i {
            position: relative;
            z-index: 2;
            &:hover ~ pre {
                opacity: 1;
                transform: scale(1);
            }
            &:hover {
                color: var(--th-S-light);
            }
            transition: all .2s;
        }

        pre {
            position: absolute;
            right: 0;
            bottom: 0;
        
            padding: 1em;
            padding-right: 3em;
            margin: 0;
            
            text-align: left;
            font-size: 1rem;
            white-space: pre-line;
            opacity: 0;
            min-width: max-content;
            background-color: var(--th-S-dark);
            border: 1px solid var(--th-S-normal);

            transform: scale(0);
            transform-origin: bottom right;
            transition: all .2s;
        }
    }
}