/* 
https://uicolors.app/create

primary brand color: HSL(45°, 100%, 51%)   #FFC105
    closest Open Color: var(--yellow-6);
complementary:       HSL(225°, 100%, 51%)  #0544FF
interesting red color:                     #FF2D2D
    closest Open Color: var(--red-7);
*/

@layer base {
    :root {
        /* amber palette */
        --amber-1: oklch(99.5% 0.027 106.9deg);
        --amber-2: oklch(97.9% 0.067 104.2deg);
        --amber-3: oklch(96.3% 0.139 106deg);
        --amber-4: oklch(93.2% 0.175 102.8deg);
        --amber-5: oklch(90.6% 0.184 99deg);
        --amber-6: oklch(84.3% 0.172 84.7deg);
        /* #FFC105 */
        --amber-7: oklch(72.2% 0.155 71.4deg);
        --amber-8: oklch(59.9% 0.14 59.8deg);
        --amber-9: oklch(50.4% 0.12 56.4deg);
        --amber-10: oklch(43.7% 0.1 56.5deg);
        --amber-11: oklch(29.7% 0.073 56deg);

        /* blues palette */
        --jazz-blue-1: oklch(97.9% 0.013 227deg);
        --jazz-blue-2: oklch(95.8% 0.026 229.1deg);
        --jazz-blue-3: oklch(91.3% 0.059 222.2deg);
        --jazz-blue-4: oklch(85.2% 0.107 220.2deg);
        --jazz-blue-5: oklch(80.3% 0.14 222.3deg);
        --jazz-blue-6: oklch(73.9% 0.145 228.8deg);
        --jazz-blue-7: oklch(63.6% 0.136 235.6deg);
        --jazz-blue-8: oklch(53.6% 0.117 237.1deg);
        --jazz-blue-9: oklch(47% 0.099 234.4deg);
        --jazz-blue-10: oklch(41.8% 0.085 234.6deg);
        --jazz-blue-11: oklch(31.2% 0.065 237.1deg);
    }
}