@import url("../../node_modules/open-props/open-props.min.css");
@import url("../../node_modules/open-props/colors-hsl.min.css");

:root {
    --surface-0-dark: var(--gray-11);
    --surface-1-dark: var(--gray-10);
    --surface-2-dark: var(--gray-9);
    --surface-3-dark: var(--gray-8);

    --text-0-dark: var(--gray-3);
    --text-1-dark: var(--gray-6);
}